{% extends 'block.html' %}

{% load static %}

{% block title %} Tickets | Index {% endblock  %}

{% block content %}
    <div class = "container min-vh-100">
        <div class = "row">
            <div class = "col-sm-12 text-left">
                <div class="alert alert-warning my-3" role="alert">
                    <b>Ticketing System is still in development</b><br>
                    Please be aware of all bugs that may happen. If you experience any of that please report it here: <a href = "https://github.com/HoopDead/ticket_system/issues">Report bug</a>
                </div>            
            </div>
        </div>
    </div>
{% endblock  %}