{% extends 'block.html' %}

{% load static %}

{% block title %} Tickets | Index {% endblock  %}

{% block content %}
    <div class = "container min-vh-100"> 
        <div class = "row">
            <!-- Alert with bug -->
            <div class = "col-sm-12 text-left">
                <div class="alert alert-warning my-3" role="alert">
                    <b>Ticketing System is still in development</b><br>
                    Please be aware of all bugs that may happen. If you experience any of that please report it here: <a href = "https://github.com/HoopDead/ticket_system/issues">Report bug</a>
                </div>            
            </div>
            <!-- Logo and welcome text -->
            <div class = "col-sm-4 mx-auto my-3 text-center">
                <h2>Ticket System | IT</h2>
                <hr>
                <p class = "lead">How can we help you today {{ user }}?</p>
            </div>
        </div>

        <div class = "row align-items-center">
            <!-- Advertise icons -->
            <div class = "col-md-4 col-sm-12 text-center">
                <img src = "/media/clock.png">
                <p class = "lead my-3">IT takes us 12 hours to respond.</p>
            </div>
            <div class = "col-md-4 col-sm-12 text-center">
                <img src = "/media/certificate.png">
                <p class = "lead my-3">Trusted by over 150 companies.</p>
            </div>
            <div class = "col-md-4 col-sm-12 text-center">
                <img src = "/media/support.png">
                <p class = "lead my-3">Professional help is online 24/7.</p>
            </div>
        </div>

        <!-- Choose category to go find help -->
        <div class = "row my-3">
            <div class = "col-sm-8 mx-auto my-3 text-center">
                <h4>Choose category to find support you need</h4>
            </div>
        </div>

        <!-- Categories to help #1 -->
        <div class = "row mt-2">
            <div class = "col-sm-12 col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">IT</h5>
                        <p class="card-text">My product has technical issues and gives a lot of errors.</p>
                    </div>
                </div>
            </div>
            <div class = "col-sm-12 col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Database</h5>
                        <p class="card-text">Database has no records and returns many errors.</p>
                    </div>
                </div>
            </div>
            <div class = "col-sm-12 col-lg-4 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Website</h5>
                        <p class="card-text">The website is not displayed properly or I have responsive issues.</p>
                    </div>
                </div>
            </div>

            <div class = "col-sm-12 my-2">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Dind't find your problem?</h5>
                        <p class="card-text">Create new ticket our support is going to respond as soon as possible or create new thread, where your stuff can discuss problem with us.</p>
                        <button class = "btn btn-primary mt-2">Create new ticket</button>
                        <button class = "btn btn-primary mt-2">Open new thread</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock  %}